In [1]:
line = "Hello"

In [2]:
for item in line:
    print(item)

H
e
l
l
o

In [5]:
line[5]

IndexError: string index out of range

In [6]:
line = "welcome to plaksha"

In [7]:
len(line)

18

In [9]:
# slicing

out = line[4:9]

In [12]:
line[0:15:2]

'wloet lk'

In [14]:
line[4:0:-1]

'ocle'

In [17]:
line = "abcde"

In [18]:
line[2: -1]

'cd'

## Range

In [19]:
r = range(0, 10)

In [20]:
for item in r:
    print(item)

0
1
2
3
4
5
6
7
8
9

In [22]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [32]:
r = range(3, 10)

In [40]:
r[3]

6

In [38]:
a = "hell"

In [39]:
a[:6]

'hell'

## List

In [44]:
li = [4, 10, 13, 15, 11]

In [45]:
second = li

In [46]:
li.append(100)

In [47]:
li

[4, 10, 13, 15, 11, 100]

In [48]:
second

[4, 10, 13, 15, 11, 100]

In [49]:
li[2]

13

In [50]:
li[3] = 555

In [51]:
li

[4, 10, 13, 555, 11, 100]

In [54]:
b = li.copy()

In [55]:
li[3] is b[3]

True

In [56]:
first = [11, 22]

In [57]:
second = [33, 44]

In [58]:
one = [first, second]

In [59]:
two = one.copy()

In [60]:
one[0]

[11, 22]

In [61]:
two[0]

[11, 22]

In [62]:
one[0] is two[0]

True

In [63]:
one[0].append(99)

In [68]:
one

[[11, 22, 99], [33, 44]]

In [64]:
two[0]

[11, 22, 99]

In [65]:
two[0] = [88, 77]

In [66]:
one[0] is two[0]

False

In [67]:
one[1] is two[1]

True

In [69]:
li

[4, 10, 13, 555, 11, 100]

In [72]:
li.extend("hello")

In [73]:
li

[4, 10, 13, 555, 11, 100, 'h', 'e', 'l', 'l', 'o']

In [74]:
li = [10, 20, 34, 12]

In [76]:
li.sort()

In [77]:
li

[10, 12, 20, 34]

In [78]:
a = list("hello")

In [79]:
a

['h', 'e', 'l', 'l', 'o']

In [80]:
b = list("hello")