In [1]:
def sum(a, b):
    c = a + b
    return c

In [3]:
x = 10
y = 15

res = sum(x, y)

In [7]:
print(res)

25

In [8]:
import pickle

In [10]:
li = [20, 40, 60, (79, 20)]

In [14]:
f = open("content.pickle", "wb")

In [15]:
pickle.dump(li, f)

In [16]:
f.close()

In [17]:
a = 10
b = 20

In [18]:
temp = a
a = b
b = temp

In [19]:
a, b

(20, 10)

In [20]:
a = 10
b = 20

In [37]:
def swap(a, b):
    temp = a
    a = b
    b = temp

In [38]:
def swap(a, b):
    temp = a
    a = b
    b = temp
    return

In [39]:
def swap(a, b):
    temp = a
    a = b
    b = temp
    return None

In [40]:
a, b

(10, 20)

In [28]:
swap(a, b)

In [29]:
a, b

(10, 20)

In [33]:
out = swap(a, b)

In [36]:
print(out)

None

In [41]:
def hulala():
    print(name)

In [42]:
name = "Anuj Garg"

In [43]:
hulala()

Anuj Garg

In [44]:
name = "Mohit sharma"

In [45]:
hulala()

Mohit sharma

In [46]:
num = 100

In [54]:
def printer():
    global num
    num = 60
    print(num)

In [55]:
printer()

60

In [57]:
li = list(range(10))

In [58]:
def another():
    li.append(200)

In [59]:
another(li)

In [60]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 200]

## Named and positional args

In [72]:
def first(one, two, three):
    print(one, two, three, one + two)

In [74]:
first(10, 20, 30)

10 20 30 30

In [75]:
first(one=10, two=20, 30)

SyntaxError: positional argument follows keyword argument (<ipython-input-75-a64a2b807dbf>, line 1)

In [67]:
first(two=20, one=10)

10 20 30

In [70]:
first(10, two=20)

10 20 30

In [78]:
def first(one, two=30, three=10):
    print(one, two, three, one + two)

In [82]:
print(10, 20, 40, sep="--")

10--20--40

In [93]:
def hello(name, age, *pets):
    print(name, age, pets)

In [94]:
hello("Anuj", 26, "Cheeku", "Bhola")

Anuj 26 ('Cheeku', 'Bhola')

In [96]:
def spreader(a, b, c):
    print(a, b, c)

li = [1, 55, 66]
spreader(*li)

1 55 66

## Lambdas

In [97]:
sq = lambda x : x ** 2

In [98]:
type(sq)

function

In [99]:
sq

In [100]:
sq(8)

64

In [101]:
def squre(x):
    return x**2

In [102]:
print

In [103]:
bolo = print

In [104]:
bolo("Jai mata di")

Jai mata di

In [105]:
print = sq

In [106]:
print(8)

64

In [107]:
bolo(8)

8

In [109]:
print = bolo

In [110]:
print("hello")

hello