In [1]:
x = 2

In [2]:
something = lambda item : list(range(item))

In [3]:
something(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Maps

In [4]:
li = list(range(20))

In [6]:
def square(x):
    return x * x

In [11]:
m = map(square, li)

In [12]:
for item in m:
    print(item)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [13]:
m = map(lambda x: x * x, li)

In [14]:
for item in m:
    print(item)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [39]:
def happy(x):
    return x * anuj

def hello():
    ok = lambda x : x * anuj 
    anuj = 26
    out = ok(10)
    return out

In [40]:
hello()

260

In [21]:
type(m)

map

In [23]:
m[0]

TypeError: 'map' object is not subscriptable

In [31]:
line = input()

 33 55 22 55 22

In [32]:
line

'33 55 22 55 22 '

In [35]:
line.strip().split(" ")

['33', '55', '22', '55', '22']

In [36]:
## important for hackerrank

tuple(map(int, input().strip().split(" ")))

(33, 55, 22, 55, 22)

## filter

In [41]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [45]:
list(filter(lambda x : ((x%3) == 0), li))

[0, 3, 6, 9, 12, 15, 18]

In [53]:
# list(map(lambda x : x  if ((x%3) == 0) else None , li))

In [51]:
filtered = []
for item in li:
    if (item % 3) == 0:
        filtered.append(item)

In [52]:
filtered

[0, 3, 6, 9, 12, 15, 18]

In [63]:
m = map(lambda x: x * x, li)

In [61]:
list(m)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [62]:
list(m)

[]

In [64]:
list(filter(lambda x : ((x%3) == 0), m))

[0, 9, 36, 81, 144, 225, 324]

In [65]:
list(m)

[]

In [66]:
m = map(lambda x: x * x, li)

In [78]:
next(m)

121

## Zip

In [96]:
names = ["Anuj", "Mohit", "Ravi", "Manu"]

In [97]:
ages = [26, 28, 31, 36, 38]

In [98]:
z = zip(names, ages)

In [99]:
# next(z)

In [100]:
list(z)

[('Anuj', 26), ('Mohit', 28), ('Ravi', 31), ('Manu', 36)]

In [101]:
items = range(4)

In [102]:
z = zip(names, ages, items)

In [103]:
list(z)

[('Anuj', 26, 0), ('Mohit', 28, 1), ('Ravi', 31, 2), ('Manu', 36, 3)]

In [105]:
sorted(names)

['Anuj', 'Manu', 'Mohit', 'Ravi']

In [106]:
tup = (77, 66, 11, 111)

In [107]:
sorted(tup)

[11, 66, 77, 111]

In [108]:
data = list(zip(names, ages))

In [119]:
data

[('Anuj', 26), ('Manu', 36), ('Mohit', 28), ('Ravi', 31)]

In [116]:
res = sorted(data, key=lambda x: x[1], reverse=True)

In [117]:
res

[('Manu', 36), ('Ravi', 31), ('Mohit', 28), ('Anuj', 26)]

In [118]:
data[-1]

('Ravi', 31)

In [120]:
res[1]

('Ravi', 31)

In [121]:
data[-1] is res[1]

True